body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}
.container {
    width: 600px;
    margin: 0 auto;
}
li {
    background: #fffa8b;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}